body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
/* 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page {
    display: none;
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
 /* } 
/*   */
h1 {
    text-align: center;
}

input[type="text"],
input[type="password"],
button { 
    display:flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
   
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer; */
}

a {
    color: #4CAF50;
    text-decoration: none;
    cursor: pointer;
} */ */ */
